---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;800&display=swap');


.page-header {
  background-color: #45377D;
  background-image: url('../../header.png');
  background-size: cover;
  font-family: 'Baloo 2', cursive;
    
  @include large {
    padding: 1rem 6rem;
  }

  @include medium {
    padding: 1rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

.project-tagline {
  opacity: 0.9;
}

.with-bullets ul {
  list-style-type: disc;
}

ul {
  list-style-type: none;
}
