---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #45377D;
    background-image: url('../../header.png');
    background-size: cover;
}
