---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;800&display=swap');


.page-header {
    color: #fff;
    text-align: center;
    background-color: #45377D;
    background-image: url('../../header.png');
    background-size: cover;
}

.project-name {
    font-family: 'Baloo 2', cursive;
}
